*{
  font-family:sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(9, 9, 29);
  text-align: center;
}
h1{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  margin-left: 18%;
  
}
.spans{
  color: white;
  font-size: 35px;
}
.container{
  width: 20%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;

}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
} 

.time {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70px;
  font-size: 50px;
}
/*BUTTONS*/
.buttons {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;

}
.button{
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  width: 180px;
  
  
}
.start{
  background-color:limegreen;
}
.pause{
  background-color:rgb(28, 135, 241);
}
.reset{
  background-color: rgb(230, 48, 48);
}
